.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  background: white;
  width: 360px;
  height: 360px;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08); 
}

.login-form h2 {
  text-align: center;
  color: #1e4fd8;
  margin-bottom: 10px;
}

.input {
  height: 45px;
  padding: 0 15px;
  border-radius: 25px;
  border: 1px solid #ddd;
  font-size: 14px;
  outline: none;
}

.input:focus {
  border-color: #1e4fd8;
}



.btn-login {
  height: 45px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(90deg, #1e4fd8, #3b82f6);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}


