body{
  background: #d6d6d7;
}
.app-form {
  min-height: 80vh;
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f5f7fa;
  border-radius: 10px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-image{
  width: 400px;
  height: auto;
}
